<?xml version="1.0" encoding="utf-8" ?>
<launch>
    <param name="/use_sim_time" value="false"/>
    <arg name="stdout" default="screen" />
    <node pkg="rosbag" type="play" name="player" output="screen" args="-l --clock /home/loi1804/Desktop/ros_workspace/2020-12-07-19-53-23.bag"/>
    <node pkg="tf" type="static_transform_publisher" name="l2c_tf" args="-0.791237 -0.088286 0.416412 -0.00489836 0.00615539 -0.00132632 stereo velodyne 100" />
</launch>
